<!DOCTYPE html>
<html>
    <head>
        <title>Final do cadastro</title>
        <meta charset="utf-8">
		<link rel="stylesheet" href="./styles/paginaextra.css">
	</head>
	<object class="menu-caixa" type="text/html" data="../menu.html"></object><br>
			
    <body>	
		<div class="caixa caixa-centralizada"><p class="texto">Obrigado pelo seu contato!</p></div><br><br>
		<p class="linha"> A evolução do ser humano, está no conhecimento.<br> Viva a tecnologia!<p/>
	
	<footer>
		
		<p>2020 - Desenvolvido por <br>
		  &copy; RalbertRodrigues</p>
	</footer>
	</body>


</html>